{% extends "base.html" %} 

{% block content %}
<section class="mb-6">
    <div>
        <h2 class="text-xl mb-2">About</h2>
        <p>
            Medical malpractice refers to instances where healthcare providers fail to meet the expected standards of care, resulting in harm or injury to patients. Whether it's misdiagnosis, surgical errors, medication mistakes, or other negligent actions, medical malpractice can have devastating effects on patients and their families. Understanding the complexities and repercussions of medical malpractice is crucial in ensuring accountability and safeguarding patient well-being. This section aims to shed light on the nuances of medical malpractice, its impact on healthcare, and the importance of promoting better practices within the medical field.
        </p>
    </div>
</section>

<section class="mb-6">
    <div>
        <h3 class="text-xl mb-2">Types of Medical Malpractice</h2>
        <ul class="list-disc ml-6">
            <li class="mb-2">Misdiagnosis or delayed diagnosis</li>
            <li class="mb-2">Surgical errors or wrong-site surgery</li>
            <li class="mb-2">Medication errors and prescription mistakes</li>
            <li class="mb-2">Birth injuries and obstetric negligence</li>
            <li class="mb-2">Anesthesia errors or administration issues</li>
            <li class="mb-2">Failure to obtain informed consent</li>
            <li class="mb-2">Neglecting or ignoring patient symptoms</li>
        </ul>
    </div>
</section>


{% endblock %}