{% extends "base.html" %} 

{% block content %}

<body class="bg-sky-100 p-4">
    <div class="max-w-screen-md mx-auto bg-white p-4 shadow-md">
        <div class="max-w-screen-md mx-auto bg-yellow-200 p-4 shadow-md">
            <h1 class="text-2xl font-bold mb-4 text-center">Azure-Hosted CDN Video</h1>
            <video src="static/Integrated care_ connecting medical and behavioral care  _ Tom Sebastian _ TEDxSnoIsleLibraries.mp4" alt="Video" controls height='100%' width='100%'></video>
        </div>
    </div>
    </body>