{% extends "base.html" %} 

{% block content %}
<section class="mb-6 table-container"></section>
    <div class="table">
        <h2 class="text-xl mb-2">Patient Table</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">Patient ID</th>
                    <th class="px-4 py-2">Name</th>
                    <th class="px-4 py-2">Date of Birth</th>
                    <th class="px-4 py-2">Diagnosis</th>
                </tr>
            </thead>
            <tbody>
                {% for patients in data1 %}
                <tr>
                    <td class="border px-4 py-2">{{ patients.patient_id }}</td>
                    <td class="border px-4 py-2">{{ patients.name }}</td>
                    <td class="border px-4 py-2">{{ patients.date_of_birth }}</td>
                    <td class="border px-4 py-2">{{ patients.diagnosis }}</td>
                </tr>
                    {% endfor %}
                    </tbody>
            </table>
    </div>
</section>

{% endblock %}